# Nivell 1

## Exercici 1

Crea una base de dades relacionals senzilla utilitzant MySQL(https://www.mysql.com/) i connecta-la a Python

In [1]:
import mysql.connector

In [2]:
from getpass import getpass
mydb = mysql.connector.connect(
  host="localhost",
  user= getpass("Introdueix usuari: "), #Puesto el nombre de usuario en el momento de ejecución
  password= getpass('Introdueix contrasenya: ') #Puesta la contraseña en el momento de ejecución
)

print(mydb)

Introdueix usuari: ········
Introdueix contrasenya: ········
<mysql.connector.connection_cext.CMySQLConnection object at 0x00000230C66E12B0>

In [3]:
#Crear una base de dades senzilles amb sql
#Connectar a python
#Fer consultes a la base de dades
cursor = mydb.cursor()
cursor.execute('SHOW DATABASES')
for db in cursor:
    print(db)

('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('test_1',)
('world',)

In [4]:
cursor.execute('CREATE DATABASE test_1')
#Apareix error perquè s'ha executat dos cops

DatabaseError: 1007 (HY000): Can't create database 'test_1'; database exists

In [7]:
#Comprobem que s'ha creat la base de dades
cursor.execute('SHOW DATABASES')
for db in cursor:
    print(db)

('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('test_1',)
('world',)

test_1 correspon a una base de dades formades per dues taules que contindran els següents paràmetres:
* Tabla 1 --> Personal:
    * id treballador
    * Nom
    * Cognoms
    * id lloc de treball que correspón a id establiment
* Tabla 2 --> Establiments
    * id establiment
    * Direcció

In [8]:
#Connexió a la base de dades
mydb = mysql.connector.connect(
    host = 'localhost',
    user = getpass('Introdueix usuari'),
    password = getpass('Introdueix contrasenya'),
    database = 'test_1'
)

Introdueix usuari········
Introdueix contrasenya········

In [26]:
Tpersonal = '''
CREATE TABLE Personal(
    idPersonal INT AUTO_INCREMENT PRIMARY KEY,
    Nom VARCHAR(100),
    Cognoms VARCHAR(100),
    IdEstabliment INT,
    FOREIGN KEY(IdEstabliment) REFERENCES Establiments(IdEstabliment)
)
'''

Testabliments = '''
CREATE TABLE Establiments(
    IdEstabliment INT AUTO_INCREMENT PRIMARY KEY,
    Direccio VARCHAR(100)
)
'''
#ProgrammingError: 1072 (42000): Key column 'Establiment' doesn't exist in table

In [32]:
cursor = mydb.cursor()
cursor.execute(Testabliments)
cursor.execute(Tpersonal)

mydb.commit()

In [33]:
dataEstabliments = '''
INSERT INTO Establiments(Direccio) VALUES 
    ('Passeig de Gràcia'), ('Ronda Guindardó')
'''

In [34]:
cursor.execute(dataEstabliments)
mydb.commit()

In [35]:
print(cursor.rowcount, "record inserted.")

2 record inserted.

In [37]:
cursor.execute('SELECT * FROM Establiments')
result = cursor.fetchall()
for x in result:
    print(x)

(1, 'Passeig de Gràcia')
(2, 'Ronda Guindardó')

In [38]:
dataPersonal = '''
INSERT Personal(Nom, Cognoms, IdEstabliment) VALUES
    ('Joan', 'Pons', 1),
    ('Maria', 'Torrades', 1),
    ('Pep', 'Vallés', 2)
'''

In [40]:
cursor.execute(dataPersonal)
mydb.commit()
print(cursor.rowcount, 'record inserted.')

3 record inserted.

In [41]:
cursor.execute('SELECT * FROM Personal')
result = cursor.fetchall()
for x in result:
    print(x)

(1, 'Joan', 'Pons', 1)
(2, 'Maria', 'Torrades', 1)
(3, 'Pep', 'Vallés', 2)
(4, 'Joan', 'Pons', 1)
(5, 'Maria', 'Torrades', 1)
(6, 'Pep', 'Vallés', 2)